/* CSS for signup.php file */

.container {
    text-align: center;
    justify-content: center;
    background-color: chartreuse;
}
/* Taken from stack overflow */


.form-c{
    /* background-color: whitesmoke; */
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.form-grp {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    margin-right: 42%;
}
.form-grp label {
    font-size:20px;
    font-weight: 300;
    margin-right: 20px;
}